* {
	padding: 0;
	margin: 0;
}
.header {
	height: 100px;
	background: linear-gradient(to right, skyblue, red);
	position: relative;
}
#btn {
	position: absolute;
	top: 30px;
	right: 100px;
	width: 100px;
	height: 40px;
	background-color: gold;
	border: 0;
	outline: none;
}
#btn:hover {
	background-color: greenyellow;
}
.main {
	height: 1000px;
	width: 100%;
	background: url("../images/1.jpg") no-repeat;
	background-size: cover;
	overflow: hidden;
}
.main .joke {
	width: 490px;
	height: 360px;
	margin: 100px auto;
	padding: 35px;
	background: url("../images/bean01.png") no-repeat;
	background-size: 100% 100%;
}
